<div class="options">
  <div class="title">
    <span>Floor Menu</span>
  </div>
  <button id="create-floor-option" mat-menu-item (click)="goCreate()">
    <span>Create Floor</span>
  </button>
  <button id="edit-floor-option" mat-menu-item (click)="goToEdit()">
    <span>Edit Floor</span>
  </button>
  <button id="list-floors-building-option" mat-menu-item (click)="goToListFloorOfBuilidng()">
    <span>List Floors of a building</span>
  </button>
  <button id="list-floors-building-pathway-option" mat-menu-item (click)="goToListFloorsWithPathways()">
    <span>List Floors with pathways</span>
  </button>
</div>
