<body class="container">
<div class="dialog-container">
  <h1 class="dialog-title">Explanation of Parameters</h1>
  <div class="dialog-content">
    <p><span class="parameter">Population Size:</span> Determines the number of task sequences selected to form a new generation.</p>
    <p><span class="parameter">Number of Generations:</span> Specifies the total number of generations to be executed.</p>
    <p><span class="parameter">Crossover Probability:</span> Represents the likelihood of crossover occurring.</p>
    <p><span class="parameter">Mutation Probability:</span> Indicates the likelihood of mutation taking place.</p>
    <p><span class="parameter">Elitism:</span> Sets the number of top individuals to be replicated in the next generation.</p>
    <p><span class="parameter">Stabilization:</span> Defines the number of generations executed without improvement in the best individual.</p>
    <p><span class="parameter">Ideal Cost:</span> Sets the target cost that the algorithm aims to achieve.</p>
    <p class="dialog-actions">You can review all generations in the log file.</p>
  </div>
  <div class="dialog-actions">
    <button color="primary" mat-button mat-dialog-close>Close</button>
  </div>
</div>
</body>

