main {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  color: #333;
  line-height: 1.6;
}

h1, h2 {
  color: #000000; /* Dark Green */
}

p {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

a {
  color: #007bff; /* Blue */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#go-back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
