<mat-toolbar color="primary">
  <button [matMenuTriggerFor]="gestorDeFrotaMenu" mat-icon-button class="example-icon" aria-label=" icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #gestorDeFrotaMenu="matMenu">
    <button id="robots-option" mat-menu-item (click)="goToRobots()">
      <span>Robots</span>
    </button>
    <button id="robot-types-option" mat-menu-item (click)="goToRobotTypes()">
      <span>Robot types</span>
    </button>
  </mat-menu>

  <span>Welcome, {{userName}}!</span>
  <div class="right-elems-container">
    <button mat-icon-button class="home" aria-label=" icon-button with menu icon" (click)="goToHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="exit" aria-label=" icon-button with menu icon" (click)="goToLogin()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
