<app-main-toolbar></app-main-toolbar>
<body class="RobDroneGo">
<div class="container">
  <h2 class="text-center">Selected tasks</h2>
  <br>
  <div>
    <mat-table [dataSource]="tasks" class="mat-elevation-z8">
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.type }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.userId }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.status }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pickupRoomId">
        <mat-header-cell *matHeaderCellDef> Pickup Room</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.pickupRoomId }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="deliveryRoomId">
        <mat-header-cell *matHeaderCellDef> Delivery Room</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.deliveryRoomId }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="identificationCode">
        <mat-header-cell *matHeaderCellDef> Identification Code</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.identificationCode }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="senderName">
        <mat-header-cell *matHeaderCellDef> Sender Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.senderName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="receiverName">
        <mat-header-cell *matHeaderCellDef> Receiver Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.receiverName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="senderContact">
        <mat-header-cell *matHeaderCellDef> Sender Contact</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.senderContact }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="receiverContact">
        <mat-header-cell *matHeaderCellDef> Receiver Contact</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.receiverContact }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="confirmationCode">
        <mat-header-cell *matHeaderCellDef> Confirmation Code</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.confirmationCode }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="emergencyNumber">
        <mat-header-cell *matHeaderCellDef> Emergency Number</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.emergencyNumber }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="floorNr">
        <mat-header-cell *matHeaderCellDef> Floor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element?.floor?.floorNr }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </ng-container>
    </mat-table>
  </div>

  <form (ngSubmit)="getSequence()">

    <div class="stopping-criteria-container">
      <br>
      <h2 class="criteria-label">Select stopping criteria</h2>
      <div class="example-margin">
        <mat-checkbox (change)="toggleActivateNrGenerations()">Number of Generations</mat-checkbox>
        <mat-checkbox (change)="toggleStabilizationCriteria()">Stabilization Criteria</mat-checkbox>
        <mat-checkbox (change)="toggleIdealCostCriteria()">Ideal Cost</mat-checkbox>
      </div>
      <div *ngIf="!atLeastOneCheckboxChecked" class="error-message">
        You must select at least one stopping criteria
      </div>

    </div>

    <div class="form-fields-container">
      <div *ngIf="activateNrGenerations" class="form-field">
        <mat-form-field>
          <mat-label>Number of generations</mat-label>
          <input matInput type="number" placeholder="Number of generations" [(ngModel)]="nrGenerations"
                 name="nrGenerations">
        </mat-form-field>
      </div>

      <div *ngIf="activateStabilization" class="form-field">
        <mat-form-field>
          <mat-label>Stabilization criteria</mat-label>
          <input matInput type="number" placeholder="Stabilization criteria" [(ngModel)]="stabilizationCriteriaValue"
                 name="stabilizationCriteriaValue">
        </mat-form-field>
      </div>

      <div *ngIf="activateIdealCost" class="form-field">
        <mat-form-field>
          <mat-label>Ideal cost</mat-label>
          <input matInput type="number" placeholder="Ideal cost" [(ngModel)]="idealCost" name="idealCost">
        </mat-form-field>
      </div>
    </div>

    <div class="form-fields-container">
      <div class="form-field">
        <div class="example-label-container">
          <label id="mutationProbability-label" class="example-name-label">Mutation Probability </label>
          <label class="example-value-label">{{ mutationProbabilitySlider.value }}</label>
        </div>
        <mat-slider
          class="example-margin"
          [max]="1"
          [min]="0.1"
          [step]="0.1"
          [discrete]="true">
          <input matSliderThumb [(ngModel)]="mutationProbability" #mutationProbabilitySlider>
        </mat-slider>
      </div>

      <div class="form-field">
        <div class="example-label-container">
          <label id="populationSize-label" class="example-name-label">Population Size </label>
          <label class="example-value-label">{{ populationSizeSlider.value }}</label>
        </div>
        <mat-slider
          class="example-margin"
          [max]="20"
          [min]="2"
          [step]="1"
          [discrete]="true">
          <input matSliderThumb [(ngModel)]="populationSize" #populationSizeSlider>
        </mat-slider>
      </div>

      <div class="form-field">
        <div class="example-label-container">
          <label id="crossOverProbability-label" class="example-name-label">CrossOver Probability </label>
          <label class="example-value-label">{{ crossOverProbabilitySlider.value }}</label>
        </div>
        <mat-slider
          class="example-margin"
          [max]="1"
          [min]="0.1"
          [step]="0.1"
          [discrete]="true">
          <input matSliderThumb [(ngModel)]="crossOverProbability" #crossOverProbabilitySlider>
        </mat-slider>
      </div>

      <div class="form-field">
        <div class="example-label-container">
          <label id="elitismRate-label" class="example-name-label">Elitism Rate </label>
          <label class="example-value-label">{{ elitismRateSlider.value }}</label>
        </div>
        <mat-slider
          class="example-margin"
          [max]="1"
          [min]="0.1"
          [step]="0.1"
          [discrete]="true">
          <input matSliderThumb [(ngModel)]="elitismRate" #elitismRateSlider>
        </mat-slider>
      </div>
    </div>

    <div *ngIf="atLeastOneCheckboxChecked">
      <input type="submit" value="Start sequence">
    </div>


    <div *ngIf="taskSequence">
      <mat-table [dataSource]="taskSequence" class="mat-elevation-z8">
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.description }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.type }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.userId }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.status }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pickupRoomId">
          <mat-header-cell *matHeaderCellDef> Pickup Room</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.pickupRoomId }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="deliveryRoomId">
          <mat-header-cell *matHeaderCellDef> Delivery Room</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.deliveryRoomId }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="identificationCode">
          <mat-header-cell *matHeaderCellDef> Identification Code</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.identificationCode }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="senderName">
          <mat-header-cell *matHeaderCellDef> Sender Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.senderName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="receiverName">
          <mat-header-cell *matHeaderCellDef> Receiver Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.receiverName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="senderContact">
          <mat-header-cell *matHeaderCellDef> Sender Contact</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.senderContact }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="receiverContact">
          <mat-header-cell *matHeaderCellDef> Receiver Contact</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.receiverContact }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="confirmationCode">
          <mat-header-cell *matHeaderCellDef> Confirmation Code</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.confirmationCode }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="emergencyNumber">
          <mat-header-cell *matHeaderCellDef> Emergency Number</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.emergencyNumber }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="floorNr">
          <mat-header-cell *matHeaderCellDef> Floor</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element?.floor?.floorNr }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </ng-container>
      </mat-table>
    </div>

  </form>
</div>
</body>
