<app-gestor-de-campus-toolbar></app-gestor-de-campus-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="options" mode="side" opened>
    <app-building-tool-bar></app-building-tool-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <body class="RobDroneGo">
    <div class="container">
      <h2 class="text-center">Update Building</h2>
      <br>
      <form (ngSubmit)="updateBuilding()">
        <mat-form-field class="full-width">
          <mat-label>Select the building (code)</mat-label>
          <mat-select [(ngModel)]="building.code" name="code" required (selectionChange)="onBuildingCodeChange($event)">
            <mat-option *ngFor="let b of buildings" [value]="b.code">{{ b.code }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label *ngIf="building?.designation">New Designation</mat-label>
          <input matInput [(ngModel)]="building.designation" name="designation">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label *ngIf="building?.description">New Description</mat-label>
          <input matInput [(ngModel)]="building.description" name="description">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label *ngIf="building?.length">New Length</mat-label>
          <input matInput [(ngModel)]="building.length" name="length">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label *ngIf="building?.width">New Width</mat-label>
          <input matInput [(ngModel)]="building.width" name="width">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label *ngIf="building?.height">New Height</mat-label>
          <input matInput [(ngModel)]="building.height" name="height">
        </mat-form-field>

        <div>
          <input type="submit" value="Update">
        </div>
      </form>

    </div>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
