<app-main-toolbar></app-main-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="options" mode="side" opened>
    <app-building-tool-bar></app-building-tool-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <body class="RobDroneGo">
    <div class="container">
      <h2 class="text-center">Update Building</h2>
      <br>
      <form [formGroup]="editForm" (ngSubmit)="updateBuilding()">
        <mat-form-field data-cy="code" class="full-width">
          <mat-label>Select the building (code)</mat-label>
          <mat-select formControlName="code" name="code" required (selectionChange)="onBuildingCodeChange($event)">
            <mat-option id="{{b.code}}" *ngFor="let b of buildings" [value]="b.code">{{ b.code }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field data-cy="designation" class="full-width">
          <mat-label *ngIf="building?.designation">New Designation</mat-label>
          <input matInput formControlName="designation" name="designation" [value]="building.designation">
        </mat-form-field>

        <mat-form-field data-cy=description class="full-width">
          <mat-label *ngIf="building?.description">New Description</mat-label>
          <input matInput formControlName="description" name="description" [value]="building.description">
        </mat-form-field>

        <mat-form-field data-cy=length class="full-width">
          <mat-label *ngIf="building?.length">New Length</mat-label>
          <input matInput type="number" formControlName="length" name="length" [value]="building.length">
        </mat-form-field>

        <mat-form-field data-cy=width class="full-width">
          <mat-label *ngIf="building?.width">New Width</mat-label>
          <input matInput type="number" formControlName="width" name="width" [value]="building.width">
        </mat-form-field>

        <mat-form-field data-cy=height class="full-width">
          <mat-label *ngIf="building?.height">New Height</mat-label>
          <input matInput type="number" formControlName="height" name="height" [value]="building.height">
        </mat-form-field>

        <div>
          <input type="submit" data-cy="edit-button" value="Update">
        </div>
      </form>

    </div>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
