<body>
    <h1>Create Room</h1>
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="description">Description</label>
        <input type="text" id="description" name="description" required>
        <br>

        <label for="category">Category</label>
        <select id="category" name="category">
            <option value="classroom">Classroom</option>
            <option value="laboratory">Laboratory</option>
            <option value="office">Office</option>
            <option value="auditorium">Auditorium</option>
            <option value="other">Other</option>
        </select>

        <label for="floor">Floor</label>
        <input type="number" id="floorNr" name="floorNr" required min="1">
        <br>

        <label for="building">Building</label>
        <input type="text" id="building" name="building" required>
        <br>

        <input type="submit" value="Submit">
    </form>
    <script>
        // Ensure number values are greater than 0
        const numberInputs = document.querySelectorAll('input[type="number"]');
        numberInputs.forEach(input => {
            input.addEventListener('input', () => {
                if (input.value <= 0) {
                    input.setCustomValidity('Please enter a value greater than 0.');
                } else {
                    input.setCustomValidity('');
                }
            });
        });
    </script>
</body>
