<mat-toolbar color="primary">
  <button [matMenuTriggerFor]="administradorSistemaMenu" mat-icon-button class="example-icon" aria-label=" icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #administradorSistemaMenu="matMenu">
    <button id="create-manager-option" mat-menu-item (click)="goToCreateManagerOption()">
      <span>Create Manager</span>
    </button>

    <button id="create-user-option" mat-menu-item (click)="goToCreateUserOption()">
      <span>Register User</span>
    </button>


  </mat-menu>

  <span>Welcome, {{userName}}!</span>
  <div class="right-elems-container">
    <button mat-icon-button class="home" aria-label=" icon-button with menu icon" (click)="goToHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="exit" aria-label=" icon-button with menu icon" (click)="goToLogin()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
