<div class="options">
  <div class="title">
    <span>Elevators Menu</span>
  </div>
  <button id="create-elevator-option" mat-menu-item (click)="goToCreateElevator()">
    <span>Create Elevator</span>
  </button>
  <button id="update-elevator-option" mat-menu-item (click)="goToUpdateElevator()">
    <span>Update Elevator</span>
  </button>
<!--  <button id="replace-elevator-option" mat-menu-item (click)="goToReplaceElevator()">-->
<!--    <span>Replace Elevator</span>-->
<!--  </button>-->
  <button id="list-all-elevators-option" mat-menu-item (click)="goToListAllElevators()">
    <span>List All Elevators</span>
  </button>
</div>

