<body class="RobDroneGo">
<div class="container">
  <h1 class="text-center">RobDroneGo</h1>
  <ul>
    <li><button mat-raised-button color="primary" (click)="goToGestorDeCampus()">Campus Manager</button></li>
    <li><button mat-raised-button color="primary" (click)="goToGestorDeFrota()">Fleet Manager</button></li>
    <li><button mat-raised-button color="primary" (click)="goToGestorDeTarefas()">Task Manager</button></li>
   <li><button mat-raised-button color="primary" (click)="goToUtente()">User</button></li>
   <li><button mat-raised-button color="primary" (click)="goToAdministratorDeSistema()">System Administrator</button></li>
    <li><button mat-raised-button color="primary" (click)="goToMapViewer()">Map Viewer</button></li>
  </ul>
  <img src="../../assets/robotintro_dribble.gif" alt="Page Content GIF">
</div>
</body>
<router-outlet></router-outlet>
