<app-gestor-de-campus-toolbar></app-gestor-de-campus-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="options" mode="side" opened>
    <app-pathway-tool-bar></app-pathway-tool-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <body class="RobDroneGo">
    <div class="container">
      <h2 class="text-center">Create Pathway </h2>
      <br>
      <form (ngSubmit)="createPathway()">

        <mat-form-field class="full-width">
          <mat-label>Select a source building</mat-label>
          <mat-select [(ngModel)]="pathway.buildingSource" name="buildingSource" (ngModelChange)="listFloorsOfBuildingSource($event)">
            <mat-option id="{{building.designation}}" *ngFor="let building of buildings" [value]="building.designation" [matTooltip]= "getBuildingInfo(building)">
              {{building.designation}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Select a  building destination</mat-label>
          <mat-select [(ngModel)]="pathway.buildingDestination" name="buildingDestination" (ngModelChange)="listFloorsOfBuildingDestination($event)">
            <mat-option id="{{building.designation}}" *ngFor="let building of buildings" [value]="building.designation" [matTooltip]= "getBuildingInfo(building)">
              {{building.designation}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Select a source Floor</mat-label>
          <mat-select [(ngModel)]="pathway.floorSource" name="floorSource">
            <mat-option id="{{floor.floorNr}}" *ngFor="let floor of floorsSource" [value]="floor.floorNr" [matTooltip]= "getFloorInfo(floor)">
              {{floor.floorNr}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Select a source Floor</mat-label>
          <mat-select [(ngModel)]="pathway.floorDestination" name="floorDestination">
            <mat-option id="{{floor.floorNr}}" *ngFor="let floor of floorsDestination" [value]="floor.floorNr" [matTooltip]= "getFloorInfo(floor)">
              {{floor.floorNr}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Pathway description</mat-label>
          <input matInput [(ngModel)]="pathway.description" name="description" placeholder="Max 250 characters">
        </mat-form-field>

        <div>
          <input type="submit" value="create">
        </div>

      </form>
    </div>
    </body>


  </mat-sidenav-content>
</mat-sidenav-container>

