<app-elevator-tool-bar></app-elevator-tool-bar>
<body class="RobDroneGo">
<div class="container">
  <h2 class="text-center">Create Elevator</h2>
  <br>
  <form (ngSubmit)="createElevator()">

    <mat-form-field class="full-width">
      <mat-label>Select a designation for the elevator</mat-label>
      <input matInput [(ngModel)]="elevator.designation" name="designation">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Select a building</mat-label>
      <mat-select [(ngModel)]="elevator.buildingDesignation" name="buildingDesignation" (ngModelChange)="listFloorsOfBuildingDesignation($event)">
        <mat-option *ngFor="let building of buildings" [value]="building.designation">
          {{building.designation}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Select the floors served by the elevator</mat-label>
        <mat-select [(ngModel)]="elevator.floorsServed" name="floorsServed" multiple>
            <mat-option *ngFor="let floor of floorsServed" [value]="floor.floorNr" [matTooltip]="getFloorInfo(floor)">
            {{floor.floorNr}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>Select a brand</mat-label>
      <input matInput [(ngModel)]="elevator.brand" name="brand">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Select a model</mat-label>
      <input matInput [(ngModel)]="elevator.modelE" name="modelE">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Select a serial number</mat-label>
      <input matInput [(ngModel)]="elevator.serialNumber" name="serialNumber">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Elevator Description</mat-label>
      <input matInput [(ngModel)]="elevator.description" name="description" placeholder="Max 250 characters">
    </mat-form-field>

    <div>
      <input type="submit" value="create">
    </div>
  </form>
</div>
</body>




