body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%; /* Change to a percentage or remove for full width */
  height: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.example-card {
  background-color: #4CAF50;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-table {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px; /* Adjust as needed */
}



.mat-header-cell {
  font-weight: bold;
}

.mat-row,
.mat-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}

.mat-cell {
  flex: 1;
  padding: 8px;
}

.task-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; /* Adjust as needed */
}

.task-header {
  font-weight: bold;
  margin-bottom: 4px;
}

.task-property {
  flex: 1;
  margin-bottom: 8px;
  justify-content: center;
}

.form-fields-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.form-field {
  margin-right: 10px; /* Adjust margin as needed */
}

.stopping-criteria-container {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text within the container */
}

.criteria-label {
  margin-bottom: 10px; /* Add margin between label and checkboxes */
}

.example-margin {
  margin: 5px; /* Add margin around checkboxes */
}

.error-message {
  color: red;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or adjust the height as needed */
}
