<app-main-toolbar></app-main-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="options" mode="side" opened>
    <app-building-tool-bar></app-building-tool-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <body class="RobDroneGo">
    <div class="container">
      <h2 class="text-center">List all Buildings</h2>
      <br>
      <form (ngSubmit)="getBuildings()">
        <div *ngIf="buildings">
          <div *ngFor="let building of buildings">
            <mat-card>
              <mat-card-content>
                Building designation: {{building.designation}};
                <br>
                Building description: {{building.description}};
                <br>
                Building code: {{building.code}};
                <br>
                Building width: {{building.width}};
                <br>
                Building height: {{building.height}};
              </mat-card-content>
            </mat-card>
            <br>
          </div>
        </div>

      </form>
    </div>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>
