body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}
h1 {
  margin-top: 10px;
  color: #007BFF;
}
form {
  margin: 100px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px;
}
input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
