<div class="options">
  <div class="title">
    <span>Buildings Menu</span>
  </div>

  <button id="create-building-option" mat-menu-item (click)="goToCreateBuilding()">
    <span>Create Building</span>
  </button>
  <button id="edit-building-option" mat-menu-item (click)="goToEditBuilding()">
    <span>Edit Building</span>
  </button>
  <button id="list-all-buildings-option" mat-menu-item (click)="goToListAllBuildings()">
    <span>List All Buildings</span>
  </button>
  <button id="list-min-max-buildings-option" mat-menu-item (click)="goToListMinMaxBuildings()">
    <span>List Min Max</span>
  </button>
</div>

