/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#notice-popup {
  position: fixed;
  top: 40%;
  background-color: rgba(255,255,255, 0.5);
  padding: 20px;
  left: 33%;
  font-size: 60pt;
}

.floor-btn {
  background-color: #888;
  border: 1px solid #222;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 25px;
  text-align: center;
  max-width: 60px;
  margin: 10px auto;
  color: black;
  box-shadow: 10px 5px 5px #666;
}

#elevator-popup {
  position: fixed;
  top: 20%;
  background-color: rgba(220,220,220, 0.5);
  padding: 20px;
  left: 40%;
  font-size: 35pt;
}

#task-popup {
  position: fixed;
  top: 40%;
  background-color: rgba(255,255,255, 0.5);
  padding: 20px;
  left: 33%;
  font-size: 60pt;
}
